*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


BODY{
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


h1{
    color: darkblue;
}


h2{
    color: darkred;
}


nav{
    background-color: black;
    text-align: center;
    padding:10px;
}


nav a {
    color: white;
    text-decoration: none;
    margin:15px;
}

section{
    background-color: white;
    padding:30px;
    margin:20px;
    border-radius: 10px;
    
}

section:hover{
    border: 5px solid black;
}


#Inicio{
    background-color: lightblue;
}


.nome{
    color: green;
}


.cabecario{
    text-align: center;
}


nav a:hover{
    color: yellow;
}

main{
    max-width: 900px;
    margin:auto;
    
}

#habilidades {
    display: flex;
    justify-content:center;
    align-items: center;
   
}